@page
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>VoiceStudio UI</title>
</head>
<body>
    <h2>VoiceStudio UI</h2>
    <p><a href="/ABCompare">A/B Compare</a></p>
</body>
</html>
